In [11]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
my_list = [1, 2, 3, 4]
my_labes = ["a", "b", "c", "d"]
my_dict = {"a": 1, "b": 2, "c": 3, "d": 4}

In [3]:
pd.Series(my_list, my_labes)

a    1
b    2
c    3
d    4
dtype: int64

In [4]:
pd.Series(my_dict)

a    1
b    2
c    3
d    4
dtype: int64

In [5]:
ser1 = pd.Series([1, 2, 3], ["USA", "Germany", "USSR"])

In [6]:
ser1

USA        1
Germany    2
USSR       3
dtype: int64

In [7]:
ser2 = pd.Series([1, 2, 3],["USA", "Germany", "Japan"])

In [8]:
ser2

USA        1
Germany    2
Japan      3
dtype: int64

In [9]:
ser1 + ser2

Germany    4.0
Japan      NaN
USA        2.0
USSR       NaN
dtype: float64

In [10]:
ser1["USA"]

1

In [13]:
df = pd.DataFrame(randn(3,3), ["A", "B", "C"], ["W", "Y", "X"])

In [14]:
df

          W         Y         X
A  0.810607  1.439424 -0.377405
B  0.472935  1.174839  1.339455
C -0.379267  1.143235  0.649544

In [15]:
df["Y"]

A    1.439424
B    1.174839
C    1.143235
Name: Y, dtype: float64

In [21]:
df[["Y","X"]]

          Y         X
A  1.439424 -0.377405
B  1.174839  1.339455
C  1.143235  0.649544

In [22]:
df["NEW"] = df["W"] + df["Y"]

In [23]:
df

          W         Y         X       NEW
A  0.810607  1.439424 -0.377405  2.250030
B  0.472935  1.174839  1.339455  1.647774
C -0.379267  1.143235  0.649544  0.763968

In [27]:
df.drop("NEW", axis=1, inplace=True)

In [28]:
df

          W         Y         X
A  0.810607  1.439424 -0.377405
B  0.472935  1.174839  1.339455
C -0.379267  1.143235  0.649544

In [32]:
df.loc[["C", "B"], ["W"]]

          W
C -0.379267
B  0.472935

In [36]:
df.iloc[1:, 1:]

          Y         X
B  1.174839  1.339455
C  1.143235  0.649544

In [41]:
df[df["W"]>0]["X"]["A"]

-0.3774047052630291

In [51]:
df[(df["W"]>0) & (df["X"]<0)]

          W         Y         X
A  0.810607  1.439424 -0.377405

In [52]:
df.reset_index()

  index         W         Y         X
0     A  0.810607  1.439424 -0.377405
1     B  0.472935  1.174839  1.339455
2     C -0.379267  1.143235  0.649544

In [53]:
df["Countries"] = "Russia,Spain,Nain".split(",")

In [54]:
df

          W         Y         X Countries
A  0.810607  1.439424 -0.377405    Russia
B  0.472935  1.174839  1.339455     Spain
C -0.379267  1.143235  0.649544      Nain

In [56]:
df.set_index("Countries")

                  W         Y         X
Countries
Russia     0.810607  1.439424 -0.377405
Spain      0.472935  1.174839  1.339455
Nain      -0.379267  1.143235  0.649544

In [57]:
outside = ["G1", "G1", "G1", "G2", "G2", "G2"]
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [58]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [59]:
dfm = pd.DataFrame(randn(6,2), hier_index, ["A", "B"])

In [60]:
dfm

             A         B
G1 1  0.595976  0.215635
   2  0.298347 -0.166722
   3 -0.253025 -0.624331
G2 1 -1.398140  0.240815
   2 -1.313066  0.627822
   3  0.400051  0.917616

In [61]:
dfm.loc["G2"].loc[2]["A"]

-1.3130657508557853

In [62]:
dfm.xs("G2")

          A         B
1 -1.398140  0.240815
2 -1.313066  0.627822
3  0.400051  0.917616

dfm.xs(2, level=1)

In [64]:
dfm.xs(2, level=1)

           A         B
G1  0.298347 -0.166722
G2 -1.313066  0.627822